body{

font-family:Arial;

background:#f2f2f2;

margin:0;

}

header{

background:#1565c0;

color:white;

padding:20px;

text-align:center;

}

.container{

width:80%;

margin:auto;

padding:20px;

}

h2{

color:#1565c0;

}

a{

display:block;

background:#4CAF50;

color:white;

padding:10px;

margin:10px 0;

text-decoration:none;

border-radius:6px;

}

a:hover{

background:#2E7D32;

}
